$main: #232f3e;

.bg-main {
	background-color: $main;
}

a {
	cursor: pointer;
	&:hover {
		text-decoration: none;
		color: #ffc107;
	}
}

button {
	cursor: pointer;
}

section {
	min-height: 600px;
}

h5 {
	overflow-wrap: break-word;
}

.image {
	display: block;
	width: 100%;
	max-width: 400px;
	margin: 0 auto 2rem;
}